body {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	font-family: "Noto Serif", Georgia, "Times New Roman", serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: left;
	max-width: 748px;
	box-sizing: border-box;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	//border-top: 1px solid rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.logo {
	height: 48px;
	padding-top: 16px;
}

.scrollTop {
	margin-top: 16px;
	padding: 8px 12px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 2px;
	font-family: Arial, Helvetica, sans-serif;
	background: rgba(0,0,0,0.05);
	cursor: pointer;
	text-transform: uppercase;
}

.scrollTop:hover, .scrollTop:active {
	background: rgba(0,0,0,0.1);
}

h6 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

/* Items of the list view */
.item > .title {
	margin-top: 0;
}

.item > .title > a {
	text-decoration: none;
	color: rgba(0,0,0,1);
}

.item > .title > a:hover, .item > .title > a:active {
	text-decoration: underline;
}

.item > .source, .item > .date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgba(0,0,0,0.6);
}

/* specific article reading mode */
h1.title {
	margin-bottom: 0;
}

.article > .title > a {
	text-decoration: none;
	color: rgba(0,0,0,1);
}

.article > .source, .article > .date {
	margin-top: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9rem;
	color: rgba(0,0,0,0.6);
}

.hero {
	margin: 16px 0;
	max-width: 100%;
}

.article > p {
	font-size: 17px;
	line-height: 27.2px;
	color: rgba(0,0,0,0.9);
}
