<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="description" content="A list of news articles curated autonomously by an algorithm designed by Max Crone">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>News, curated by Max Crone</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="{{ url_for('list') }}"><img class="logo" src="{{ url_for('static', filename='logo.svg') }}"></a>
    <div class="container">{% block content %}{% endblock %}</div>
    <div class="scrollTop">Top</div>
    <h6>curated by <a href="http://maxcrone.org">Max Crone</a>, all copyrights belong to their respective owners</h6>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
	$(".scrollTop").click(function() {
	    $("html").animate({ scrollTop: 0 }, "normal");
	    return false;
	});
    </script>
</body>
</html>
